@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Open+Sans:wght@500;700&family=Roboto:wght@300;400;500&display=swap"); /*Roboto*/
:root {
  --font-familyRoboto: "Roboto";
  --background-color: #f5f5f5;
  --background-colorfull: #ffffff;
  --background-colorthird: #17002e;
  --color-texts: #000000;
  --color-textsblue: #6f2cff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.qubit_header-texts {
  text-align: center;
  padding: 94px 0px 90px 0px;
  background: #f5f5f5;
}
.qubit_header-texts h3 {
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
}

.qubit_header-texts p {
  margin: 28px 0px 90px 0px;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}
.qubit_header_img {
  background: #f5f5f5;
}
.btn1 {
  margin-top: 76px;
  padding: 11px 45px 14px 45px;
  background: #6f2cff;
  border-radius: 30px;
  border: none;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}
.btn2 {
  margin-top: 76px;
  padding: 11px 45px 14px 45px;
  background: #ffffff;
  box-shadow: 0px 0px 0px #6f2cff;
  border-radius: 30px;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #6f2cff;
  border: none;
  margin-left: 22px;
}
.qubit_texts-items {
  text-align: center;
}
.qubit_texts-items h4 {
  margin-top: 88px;
  margin-bottom: 75px;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
}
.qubit-items-box {
  display: flex;
}

.qubit_box-item {
  margin-left: 5%;
  width: 60%;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
}
.qubit_box-item > img {
  width: 100%;
}

.qubit_box-text {
  padding-top: 25px;
  width: 100%;
  background-color: var(--background-color);
  text-align: center;
}
.qubit_box-text p {
  width: 60%;
  margin-top: 25px;
  padding-bottom: 60px;
  margin: 0 auto;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6f2cff;
}
.last_texts {
  margin-top: 169px;
  background-color: var(--background-color);
}
.last_texts h3 {
  padding-top: 64px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #000000;
}
.last_texts p {
  font-family: var(--font-familyRoboto);
  text-align: center;
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.boxs {
  display: flex;
  margin-right: 5%;
  margin-top: 64px;
  padding-bottom: 4%;
}
.box {
  margin-left: 4%;
  width: 60%;
  border-radius: 8px 10px 10px 8px;
  background-color: var(--background-colorthird);
}
.box_part {
  margin-top: 42px;
  margin-left: 53px;
  display: flex;
  align-items: center;
}
.box_text h4 {
  margin-left: 25px;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #f5f5f5;
}
.text_p p {
  width:50%;
  margin-top: 31px;
  font-family: var(--font-familyRoboto);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #f5f5f5;
  margin-left: 3%;
  
}
.text_p p:nth-child(2){
  margin-top: 8px;
  margin-left: -3px;
  
  
}
.line{
  width:60%;
  border:1px solid  #F5F5F5;
  margin-bottom: 22px;
  margin-left: 5%;
  

}